@import '../variables/variables';
@import '../mixins/mixins';


  %align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.navbar {
    width: 100%;


    &__container{
        @extend %align-center;

        // className e göre de yapılabilirdi.Farklılık olsun istedim
        div{
            @extend %align-center;
            flex-direction: column;  
            padding: 30px;
            font-size: $mediumFont;
            color: $navTextColor;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 0.8px;

            @include tablet {
                padding: 10px;
            }
            @include mobile {
                padding: 10px;
                font-size: $xsFont;
            }
        }
        
    }
    .hr-design{

        @include mobile {
            margin-top: -17px;
        }
    }
}