@import '../variables/variables';

.summary{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;

  &__right{
      max-width: 300px;
      width: 100%;
      margin-top: 70px;
      padding: 10px;
  }

    &__sub{
        max-width: 650px;
        width: 100%;
      height: 400px; 
      display: flex;
      align-items: center;
      justify-content: center;  
      position: relative;
      padding: 10px;

        img:nth-child(1){
         position: absolute;
         max-width: 390px;
         width: 100%;
         background-size: cover;
        }
        img:nth-child(2){
          position: absolute;
          max-width: 530px;
         width: 100%;
         top: 43%;
         }
         img:nth-child(3){
            position: absolute;
            max-width: 456px;
           width: 100%;
           top: 18%;
           }

         @include mobile {
          height: 250px; 
      }
    }
    @include mobile {
       margin-bottom: 20px; 
    }
}